.header {
  height: 30px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.logo {
  display: block;
}

.header-text{
  font-size: 14px;
}